.css-2b097c-container {
  .css-yk16xz-control {
    background-color: #2A3038;
    border: 1px solid $border-color;
    &:hover {
      border: inherit;
    }
    &:focus {
      background: red;
    }
  }
  .css-1pahdxg-control {
    background-color: #2A3038;
  }
  .css-26l3qy-menu {
    background-color: #2A3038;
  }
}

#react-slect-* {
  color: white;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: white !important;
}

.css-1uccc91-singleValue {
  color: white !important;
}

.css-1n7v3ny-option:hover {
  color: white !important;
  background-color: darken($card-bg, 3%) !important;
}

.css-1n7v3ny-option:focus {
  color: white !important;
  background-color: darken($card-bg, 3%) !important;
}

.css-1n7v3ny-option {
  color: white;
  background-color: darken($card-bg, 3%) !important;
}